body{
	background: #F1F4D2;
}
h1{
	text-align: center;
	text-transform: uppercase;
}
#selectAria{
	display: inline-block;
	margin: 0 10%;
}
#inputs > div{
	width: 50%;
	margin: auto;
}
#inputs button{
	display: block;
	margin: auto;
}
#inputs div {
	text-align: center;
}
#inputs button{
	margin: 7px auto;
}
#getResults{
	margin: 10px auto;
}
.maxRow{
	background: blue!important;
}
.minRow{
	background: green!important;
}