body{
	background: url(bg.jpg) repeat;
}
h1{
	text-align: center;
	font-style: italic;
	color: #fff;
	text-shadow: 0 0 3px #000;
	font-size: 4em;
	font-family: Times New Roman;
}
#wrapper > button{
	display: block;
	margin: 10px auto;
}
#selectAria{
	display: inline-block;
	margin: 0 10%;
}
input,
select{
	border: 1px solid #7C7572;
	padding: 5px;
	border-radius: 5px;
	outline: none;
}
input:focus,
input:active,
select:focus,
select:active{
	outline: none;
}
#inputs > div{
	width: 50%;
	margin: auto;
}
#inputs button{
	display: block;
	margin: auto;
}
#inputs div {
	text-align: center;
}
#inputs button{
	margin: 7px auto;
}
#getResults{
	margin: 10px auto;
	display: block;
}
table{
	margin-top: 20px;
	margin-bottom: 20px;
}
table td{
	padding: 5px;
	text-align: center;
}
table tr td:first-child{
	text-align: left;
}
#resultsTable p {
	display: block;
	clear: both;
	text-align: center;
}
.maxRow{
	background: #E02F70!important;
}
.minRow{
	background: #76E88D!important;
}
.asc,
.dateAsc{
	background: url(asc.png) no-repeat center right;
}
.desc,
.dateDesc{
	background: url(desc.png) no-repeat center right;
}